// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #92d660 !default;
$header-bg-color-secondary: #008b74 !default;
//$header-bg-color: #f58A07 !default; //purple
//$header-bg-color-secondary: #2364aa !default; //orange

/* ORIGINAL COLOURS
$header-heading-color: #fff !default;
$header-bg-color: #92d660 !default;
$header-bg-color-secondary: #008b74 !default;
*/

// Text
$section-headings-color: #2d83a5 !default;
$body-text-color: #4d5869 !default;
$body-link-color: #5fb44e !default;
$blockquote-text-color: #43d2c9 !default;

// Code
$code-bg-color: #e4e2db !default;
$code-text-color: #005c84 !default;

// Borders
$border-color: #4d5869 !default;
$table-border-color: #a6a094 !default;
$hr-border-color: #a6a094 !default;
